<!doctype html>
<html>
<head>
	<title>File Sharing - Sign up</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="txt/css" href="css/main.css">
</head>
<body>
	<div class="header">
		<a href="index.html"><div class="logo"><i class="fa fa-file"></i> File Sharing</div></a>
		<div class="nav-bar"></div>
	</div>
	<!-- Image by Alan Levine (https://www.flickr.com/photos/cogdog/)
		Shared under CC Attribution 2.0 Generic (CC BY 2.0) -->
	<div class="main">
		<div class="main-text">Welcome back!</div>
		<div class="signup-form-element">Username: <input type="text" name="username"></div>
		<div class="signup-form-element">Password: <input type="password" name="password"></div>
		<div class="login-button">Log in</div>
	</div>
	<div class="footer">Copyright info</div>
</body>
</html>