<!doctype html>
<html>
<head>
	<title>File Sharing</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="txt/css" href="css/main.css">
</head>
<body>
	<div class="header">
		<a href="index.html"><div class="logo"><i class="fa fa-file"></i> File Sharing</div></a>
		<div class="nav-bar"></div>
	</div>
	<!-- Image by Alan Levine (https://www.flickr.com/photos/cogdog/)
		Shared under CC Attribution 2.0 Generic (CC BY 2.0) -->
	<div class="main">
		<div class="main-text">Sign up and start sharing today</div>
		<div class="signup-form-element">Username (Email): <input type="text" ng-model="username"></div>
		<div class="signup-form-element">Password: <input type="password" ng-model="password"></div>
		<div class="signup-form-element">Confirm: <input type="password" ng-model="confirm"></div>
		<div class="signup-button" ng-click="register()">Sign up</div>
	</div>
	<div class="footer">Copyright info</div>
</body>
</html>