<!doctype html>
<html>
<head>
	<title>Upload - File Sharing</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src='/public/javascripts/upload.js'></script>
</head>
<body ng-app='upload' ng-controller='uploadCtrl'>
	<div class="header">
		<a href="index.html"><div class="logo"><i class="fa fa-file"></i> File Sharing</div></a>
		<div class="nav-bar"></div>
	</div>
	<!-- Image by Alan Levine (https://www.flickr.com/photos/cogdog/)
		Shared under CC Attribution 2.0 Generic (CC BY 2.0) -->
	<div class="upload-content">
		<div class="file-hierarchy">files go here</div>
		<div class="upload-area">
			<div class="upload-form-element">Upload File <input type="file" ng-model="uploadFile"></div>
			<div class="signup-button" ng-click='uploadFile()'>Upload</div>
		</div>
	<div class="footer">Copyright info</div>
</body>
</html>