<!doctype html>
<html>
<head>
	<title>Upload - File Sharing</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src='javascripts/upload.js'></script>
</head>
<body ng-app='upload' ng-controller='uploadCtrl'>
<div class="main-content">
	<div class="header">
		<a href="index.html"><div class="logo"><i class="fa fa-file"></i> File Sharing</div></a>
		<div class="nav-bar"></div>
	</div>
	<!-- Image by Alan Levine (https://www.flickr.com/photos/cogdog/)
		Shared under CC Attribution 2.0 Generic (CC BY 2.0) -->
	<div class="upload-content">
		<div class="file-hierarchy">
			<div ng-repeat="file in files">
				Document Name: {{file.documentname}}<br>
				Location: {{file.location}}<br>
				Copies Available: {{file.copies}}<br>
				Description: {{file.description}}<br>
			</div>
		</div>
		<div class="upload-area">
			<div class="area-content">
				<form>
				<table>
					<tr>
						<td><div class="upload-form-element">Document Name:</div></td>
						<td><input class="form-box" type="text" ng-model="file.documentName"></td>
					</tr>
					<tr>
						<td><div class="upload-form-element">File Name:</div><span class="explainer">Leave blank if no file</span></td>
						<td><input class="form-box" type="text" ng-model="file.fileName"></td>
					</tr>
					<tr>
						<td><div class="upload-form-element">Location:</div></td>
						<td><input class="form-box" type="text" ng-model="file.location"></td>
					</tr>
					<tr>
						<td><div class="upload-form-element">Available Copies:</div><span class="explainer">Leave blank if unlimited</span></td>
						<td><input class="form-box" type="text" ng-model="file.copies"></td>
					</tr>
					<tr>
						<td><div class="upload-form-element">Description:</div></td>
						<td><input class="form-box" type="text" ng-model="file.description"></td>
					</tr>
					<tr>
						<td><input type="file" file-model="myFile"/></td>
						<td><div class="signup-button" ng-click='uploadFile()'>Upload</div></td>
					</tr>
					<tr>
						<td><div class="signup-button" ng-click='submitFile()'>Submit</div></td>
					</tr>					
				</table>
				</form>
			</div>
		</div>
	</div>
	<div class="push"></div>
</div>
	<div class="footer">Copyright info</div>
</body>
</html>
